
.horizontal {
    display: flex;
    align-items: center;
}

#input {
    margin-bottom: 20px;
}

button {
    padding: 25px;
    margin: 5px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
