body {
    font-size: 24px;
}

.container {
    display: flex;
    flex-direction: column;
    /* width: 900px; */
}

.container div {
    flex: 1;
    display: flex;
    
}
div {
    border: 1px solid rgb(128, 128, 255);
}
button {
    text-align: center;
}